{
  "sourceMaps": "both",
  "presets": [
    [
      "env",
      {
        "modules": false,
        "browsers": [
          "last 5 Chrome versions",
          "last 5 Firefox versions",
          "last 2 Edge versions",
          "node >= 6"
        ]
      }
    ],
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-runtime",
        "minify-empty-function",
        "transform-inline-environment-variables",
        "transform-node-env-inline",
        "transform-remove-console",
        "transform-remove-debugger"
      ],
      "presets": [
        "react-optimize"
      ]
    },
    "sourceMaps": false
  }
}
